.Container {
  width: 180px;
  min-height: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Share.-hidden {
  display: none;
}

.Loading {
  fill: tomato;
}

.Loading.-hidden {
  display: none;
}

.Item {
  font-size: 1.5em;
}
